
.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-counter h1 {
  font-size: 85px;
}

.toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
}

.svg-wrapper {
  position: absolute;
  top: 0;
}

.name-signature  {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pinyon Script', cursive;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 50px;
  font-size: 0.8em;
}

.heart-icn-wrapper {
  height: 25px;
  width: 25px;
  padding: 0 12px 10px 12px;
  position: relative;
}

.dragable-div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; 
}

.heart-icon {
    width: 100%;
    height: 100%;
}

/***** Responsive *****/

@media only screen and (max-width: 600px) {
  .toggle-btn {
    margin: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #Toggle3-label {
    display: none;
  }

  .name-signature {
    font-size: 0.9em;
    margin: 0 60px 50px 0;
    }
}
